<!DOCTYPE html>
<html lang="en">
<head>
  <title>Watch Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Watch Store</h1>
    <p>Not a normal watch store, I say !</p>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Fossil Watches</h3>
      <p>second hand or 3rd hand watches, <b> there will be only two hands, how thrid hand?</b></p>
      <p>go to kili manjaro and kill yourself.</p>
    </div>
    <div class="col-sm-4">
      <h3>wall clocks</h3>
      <p>If this is not, then that will also be knot </p>
      <p>not Knot.</p>
    </div>
    <div class="col-sm-4">
      <h3>Pendulam watches</h3>
      <p>simple text to fill up this p tag.</p>
      <p>eminem is the fastest rapper and sampoornesh babu is a global burning star</p>
    </div>
  </div>
</div>

</body>
</html>
