<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<h1> The stock which is available is as follows</h1>
<h2> There are a total of  -->{{ count }} <-- Types of watch compniees </h2> <br><br>
{#<h2> There are a total of Watches -->{{ totalcount }} <-- Types of watch compniees </h2><br>#}
<h2> Out of which there are {{ Fossil }} watches<br> <br>{{ second }}<br> <br>{{ third }} <br><br> {{ fourth }}</h2>
<h3> The above counts are from Database, or precisely from a Model</h3>

</body>
</html>